scripts/__pycache__/utils.cpython-310.pyc
/.idea/misc.xml
/.idea/inspectionProfiles/profiles_settings.xml
/.idea/inspectionProfiles/Project_Default.xml
/.idea/vcs.xml
/.idea/workspace.xml
/.idea/shelf/Uncommitted_changes_before_Update_at_05_05_25,_11_18_[Changes]/shelved.patch
/.idea/shelf/Uncommitted_changes_before_Update_at_05_05_25__11_18__Changes_.xml
/.idea/shelf/Uncommitted_changes_before_Update_at_05_05_25,_11_18_[Changes]/shelved.patch
